body {
  width: 100vw;
  height: 100vh;
  padding: 0px;
  margin: 0px;
  background: rgb(27,27,27);
}

.AppPresentationMode {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  cursor: none;
}

.App {
  display: grid;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  grid-template-columns: [Drawer]750px [SlidePreview]1fr; /* IF YOU CHANGE DRAWER WIDTH UPDATE IT IN THE SLIDESIZER COMPONENT */
  grid-template-rows: [AppBar]max-content [App]auto;
  grid-template-areas:
  "AppBarArea AppBarArea"
  "DrawerArea SlidePreviewArea";
}

.AppBarContainer {
  grid-area: AppBarArea;
  width: 100vw;
}

.AppDrawerContainer {
  grid-area: DrawerArea;
  overflow-y: scroll;
  padding-bottom: 200px;
}

.SlidePreviewContainer {
  grid-area: SlidePreviewArea;
  width: 100%;
  height: 100%;
  justify-self: flex-start;
  align-self: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgb(47,47,47);
}

/* Scroll Bar */
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}