.FontStylePickerGrid {
    display: grid;
    width: fit-content;
    height: fit-content;
    grid-template-rows: 1fr 1fr min-content;
    grid-template-columns: 120px min-content min-content auto;
    grid-template-areas:
    'FontFamily FontSize Bold'
    'Color      Casing    Italic'
    'Divider    Divider  Divider';
    grid-column-gap: 10px;
}

.FontStylePickerCasing {
    grid-area: Casing;
}

.FontStylePickerCopyStyle {
    grid-column: 4;
    grid-row: 1;
}

.FontStylePickerPasteStyle {
    grid-column: 4;
    grid-row: 2;
}

.FontStylePickerFontFamily {
    grid-area: FontFamily;
}

.FontStylePickerFontSize {
    grid-area: FontSize;
}

.FontStylePickerBold {
    grid-area: Bold;
}

.FontStylePickerColor {
    grid-area: Color;
    justify-self: flex-start;
    align-self: center;
}

.FontStylePickerItalic {
    grid-area: Italic;
}